In [1]:
lista = [1,2,3,4,5,14]

In [2]:
len(lista)

6

In [3]:
lista[3] + lista[-1]

18

In [4]:
lista_nombre = ["Luis Cueva","Ana Zum" , "Carmen Rojas"]

In [5]:
lista_nombre

['Luis Cueva', 'Ana Zum', 'Carmen Rojas']

In [7]:
def f_diploma_link(nombre):
    link = "http://www.tuNombreEs."+ nombre + ".com"
    return link

In [8]:
for name in lista_nombre:
    print(f_diploma_link(name))

http://www.tuNombreEs.Luis Cueva.com
http://www.tuNombreEs.Ana Zum.com
http://www.tuNombreEs.Carmen Rojas.com

# Diccionario

In [10]:
mi_diccionario = {"Nombre" : "Luis" , "Apellido":"Cueva " , "Edad":25 }

In [20]:
print(mi_diccionario.keys(), mi_diccionario.values())

dict_keys(['Nombre', 'Apellido', 'Edad']) dict_values(['Luis', 'Cueva ', 25])

In [18]:
for key in list(mi_diccionario.keys()):
    print(mi_diccionario[key])

Luis
Cueva
25

In [21]:
import numpy as np

In [22]:
x = [0,1,2,3,4,5]

In [23]:
x

[0, 1, 2, 3, 4, 5]

In [24]:
y = np.array(x)

In [25]:
y

array([0, 1, 2, 3, 4, 5])

In [30]:
print("x es una {}".format(type(x)) , "y es un {}".format( type(y)))

x es una <class 'list'> y es un <class 'numpy.ndarray'>

In [35]:
y.T-30

array([-30, -29, -28, -27, -26, -25])

In [37]:
p = np.array([[1,2,3],[4,5,6]])

In [39]:
print(p)

[[1 2 3]
 [4 5 6]]

In [40]:
p.flatten()

array([1, 2, 3, 4, 5, 6])

# Pandas

In [41]:
import pandas as pd

In [56]:
data = pd.read_csv("train.csv")

In [58]:
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [67]:
edad = data["Age"]

In [69]:
 sum(edad.isnull())

177

In [72]:
pd.crosstab(index=data["Survived"],columns=data["Sex"])

Sex       female  male
Survived
0             81   468
1            233   109